html {
	background-color: var(--surface1);
	scroll-behavior: smooth;

	@media (prefers-reduced-motion: reduce) {
		scroll-behavior: auto;
	}
}

body {
	color: var(--text-color);
	font-family: Arial, sans-serif;
	font-size: var((--step-0), 1rem);
	line-height: var(--body-line-height, 1.5);
	font-weight: 400;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

// Text Seclection

::selection {
	background-color: var(--color-primary);
	color: var(--white);
}
::-moz-selection {
	background-color: var(--color-primary);
	color: var(--white);
}

// Scrollbar
/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--surface2) var(--color-primary);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.6em;
}

*::-webkit-scrollbar-track {
	background: var(--surface2);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
	border-radius: 0;
}

main {
	flex: 1;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: var(--space-l);
	background-color: rgb(67, 67, 65, 0.8);
	height: 100vh;
	position: relative;
	z-index: 10;

	@media (min-width: 800px) {
		width: 50vw;
	}
}

// Links

a {
	color: var(--link-color);

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Wrapper
.wrapper {
	width: Min(calc(100% - var(--space-l)), 100rem);
	margin-inline: auto;

	&--fullWidth {
		width: Min(100%, 125rem);
	}
}

// Section Spacing
.section {
	padding-block: var(--space-l-3xl);

	&--small {
		padding-block: var(--space-s-l);
	}
}

// Flow
.flow > * + * {
	margin-top: var(--flow-space, 1em);
}

.flow {
	* {
		max-width: 65ch;
	}
}

// Grid
.grid {
	display: grid;
	gap: var(--gap, 1em);
}

// Flex
.flex {
	display: flex;
	gap: var(--gap, 1em);
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: var(--space-xs) var(--space-l);
	background-color: var(--black);
	color: var(--white);
	text-decoration: none;
	outline: 0;
	border: none;
	transition: 0.1s all ease-in-out;

	&:hover {
		background-color: var(--color-primary-dark);
	}

	&:focus-visible {
		outline: 2px solid var(--text-color);
		outline-offset: 2px;
	}

	// Small
	&.small {
		font-size: var(--step--1);
		padding: var(--space-2xs) var(--space-s);
	}
}

input {
	font-size: var((--step-0), 1rem);
}
