.background {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.signupForm {
	display: flex;
	gap: var(--space-xs);
	align-items: center;

	&__fields {
		width: 100%;
		display: flex;
		align-items: stretch;
		gap: var(--space-2xs);
		flex-direction: column;

		@media (min-width: 500px) {
			flex-direction: row;
		}

		input[type="text"] {
			flex: 1;
		}
	}
}

.formHeading {
	font-size: var(--font-size-3);
	font-weight: 400;
}

.logo {
	margin-bottom: var(--space-s);
}
