@use "../abstracts" as *;

// Flex
.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.items-center {
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}

// Lists
.list-reset {
	padding: 0;
	list-style: none;
}

// Screen Reader Text
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

// Medium Breakpoint and up
.md-up {
	display: none;

	@include min(md) {
		display: block;
	}
}
