---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
	<div class="wrapper section flow">
		<h1>Adamo</h1>
		<h2 class="h4">Sign up for updates below</h2>
		<form action="">
			<label for="email"></label>
			<input type="text" placeholder="Email address">
		</form>
	</div>
</Layout>
