---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
---

<Layout title="Welcome to Astro.">
	<div class="wrapper section flow">
		<h1>Static Starter</h1>
		<h2 class="h4">Features:</h2>
		<ul>
			<li>Parcel for watching, minifying, and compiling</li>
			<li>Fluid Typography and Spacing - Make sure to change this</li>
			<li>Light/Dark Mode Toggle</li>
			<li>Accessible Mobile Menu Toggle</li>
		</ul>
		<h2 class="h4">GitHub Repo</h2>
		<p>
			Fork this repo to get started easily with local, static site
			development.
			<a href="https://github.com/brianmaierjr/static-starter"
				>https://github.com/brianmaierjr/static-starter</a
			>
		</p>
	</div>
</Layout>
