---
import Layout from "../layouts/Layout.astro";
import { SEO } from "astro-seo";
import { Image } from 'astro:assets';
import logoImage from '../../src/img/logo.svg';
import bgImage from '../../src/img/22129_Rendering4RC.jpg';
import bgImage2 from '../../src/img/22129_Rendering1-Rev1C.jpg';

---

<Layout title="adamo">
	<Image class="background" src={bgImage} alt="adamo background" />
	<Image class="background background--animate" src={bgImage2} alt="adamo background" />
	<div class="flow content">
		<h1 class="logo"><Image src={logoImage} alt="adamo luxury living" width="300" height="134" /><span class="sr-only">adamo</span></h1>
		<h2>Luxury living coming soon to Ewing, New Jersey!</h2>
		<h2 class="formHeading">Sign up for updates</h2>
		<form class="signupForm" method="POST" data-netlify="true">
			<label class="sr-only" for="email">Email</label>
			<div class="signupForm__fields">
				<input id="email" name="email" type="text" placeholder="Email address" required>
				<input class="button small" type="submit" value="Keep Me Updated">
			</div>
		</form>
	</div>

</Layout>

<style lang="scss">
.background {
	width: 100vw;
	height: 100vh;
	z-index: 1;
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;

	&--animate {
		animation: fade 15s infinite ease-in-out;
	}
}

.signupForm {
	display: flex;
	gap: var(--space-xs);
	align-items: center;

	&__fields {
		width: 100%;
		display: flex;
		align-items: stretch;
		gap: var(--space-2xs);
		flex-direction: column;

		@media (min-width: 500px) {
			flex-direction: row;
		}

		input[type="text"] {
			flex: 1;
		}
	}
}

.formHeading {
	font-size: var(--font-size-3);
	font-weight: 400;
}

.logo {
	margin-bottom: var(--space-xs);
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	28% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	66% {
		opacity: 1;
	}
	71% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
	
}

</style>