<a href="#main" class="skip-link button">Skip to Content</a>

<style lang="scss">
	.skip-link {
		position: fixed;
		top: 0;
		left: 0;
		transform: translateY(-150%);
		transition: var(--transition);

		&:focus {
			transform: translateY(0);
		}
	}
</style>
